networks:
  web:
    name: web
    driver: overlay
    attachable: true
  intercom:
    name: intercom
    driver: overlay
    attachable: true

volumes:
  order_pg_vol:
  minio_vol:

secrets:
  postgres_user:
    file: docker/postgres_user_secret
  postgres_password:
    file: docker/postgres_password_secret
  s3_user:
    file: docker/s3_user_secret
  s3_password:
    file: docker/s3_password_secret

services:
  traefik:
    image: traefik:v3.6.1
    command:
      - --api.dashboard=true
      - --api.insecure=true
      - --providers.swarm.endpoint=unix:///var/run/docker.sock
      - --providers.swarm.exposedbydefault=false
      - --providers.swarm.network=web
      - --entrypoints.web.address=:80
    ports:
      - target: 80
        published: 80
        protocol: tcp
      - target: 8080
        published: 8080
        protocol: tcp
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro  # Traefik reads Swarm API
    networks:
      - web
    deploy:
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.dashboard.rule=Host(`localhost`)"
        - "traefik.http.routers.dashboard.service=api@internal"
        - "traefik.http.routers.dashboard.entrypoints=web"
        - "traefik.http.services.dashboard.loadbalancer.server.port=8080"


  frontend:
    image: frontend:local
    networks:
      - web
    deploy:
      mode: global
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.frontend.rule=Host(`frontend.localhost`)"
        - "traefik.http.services.frontend.loadbalancer.server.port=80"
        - "traefik.http.routers.frontend.entrypoints=web"


  orderservice:
    image: orderservice:local
    command: [ "/app/ordersystem" ]
    depends_on:
      - postgres
      - minio
    secrets:
      - postgres_user
      - postgres_password
      - s3_user
      - s3_password
    environment:
      - POSTGRES_DB=order
      - PGPORT=5432
      - DB_HOST=postgres
      - S3_ENDPOINT=minio:8500
      - S3_ACCESS_KEY_ID_FILE=/run/secrets/s3_user
      - S3_SECRET_ACCESS_KEY_FILE=/run/secrets/s3_password
      - POSTGRES_USER_FILE=/run/secrets/postgres_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password
    networks:
      - web
      - intercom
    deploy:
      mode: global
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.orderservice.rule=Host(`orders.localhost`)"
        - "traefik.http.services.orderservice.loadbalancer.server.port=3000"
        - "traefik.http.routers.orderservice.entrypoints=web"
      restart_policy:
        condition: any
        delay: 5s
        window: 120s

  postgres:
    image: postgres:18
    volumes:
      - order_pg_vol:/var/lib/postgresql
    networks:
      - intercom
    secrets:
      - postgres_user
      - postgres_password
    environment:
      - POSTGRES_DB=order
      - POSTGRES_USER_FILE=/run/secrets/postgres_user
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres_password

  minio:
    image: minio/minio:latest
    command: [ "server", "--address", ":8500", "/data" ]
    volumes:
      - minio_vol:/data
    secrets:
      - s3_user
      - s3_password
    environment:
      - MINIO_ROOT_USER_FILE=/run/secrets/s3_user
      - MINIO_ROOT_PASSWORD_FILE=/run/secrets/s3_password
    networks:
      - intercom